@font-face {
  font-family: 'aver';
  src: url('./components/fonts/Aver.ttf');
}

@font-face {
  font-family: 'sketch';
  src: url('./components/fonts/Sketch_Block.ttf');
}

body {
  background: #E1E5D8;
}

.icon{
  height: 15vh;
}

/* FONTS */
.title {
  color: #7C8A97;
  font-family: 'sketch';
  font-size: 20vh;
}

.subtitle {
  color: rgb(55, 62, 68);
  font-family: 'sketch';
  font-size: 10vh;
  margin: 0;
}

.dogname {
  color: rgb(55, 62, 68);
  font-family: 'sketch';
  font-size: 10vh;
  margin: 2% 0;
}



p {
  font-family: 'aver';
  font-size: 3vh;
  color: #29495D;
  margin: 2vh 0;
  padding: 0;
}

a {
  font-family: 'aver';
  text-decoration: none;
  color: #29495D;
  font-size: 5vh;
}

a:hover {
  color: rgb(101, 178, 226);
}

form {
  font-family: 'aver';
  font-size: 3vh;
  color: #29495D;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* BUTTONS */
.button {
  font-family: 'aver';
  color: rgb(24, 50, 66);
  background-color: #51ACE3;
  box-shadow: 0 4px #999;
  border-radius: 10%;
  padding: 1% 2%;
  font-size: 3vh;
  margin: 5% 5%;
}

.button:hover {background-color: rgb(57, 121, 160)}

.button:active {
  background-color: rgb(107, 194, 248);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/* DELETE BUTTON */
.deleteButton {
  font-family: 'aver';
  color: rgb(24, 50, 66);
  background-color: rgb(227, 81, 105);
  box-shadow: 0 4px #999;
  border-radius: 10%;
  padding: 1% 2%;
  font-size: 3vh;
  margin: 5% 5%;
}

.deleteButton:hover {background-color: rgb(150, 52, 68)}

.deleteButton:active {
  background-color: rgb(255, 130, 151);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/* CONTAINERS */
.shelterList {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh
}

.dogList {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singleShelter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singleDog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editbox {
  display: flex;
  align-items: center;
  flex-direction: column;
}
